* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  font-family: Arial, sans-serif;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forms {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}
input {
  outline: none;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #218838;
}

p {
  text-align: center;
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

#message {
  margin-top: 20px;
  color: red;
}
